/* set variables for the theme */
:root {
    --primary-color: #1d1136;
    --primary-color-light: #301d55;
    --secondary-color: #ffb920;
    --background-color: #fff7eb;
    --font-family: 'Tahoma', sans-serif;
}

html {
    height: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: large;
    font-weight: 400;
    font-family: 'Tahoma', sans-serif;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 10rem;
}

h2 {
    font-size: 6rem;
}

h3 {
    font-size: 2rem;
}

img {
    opacity: 0.9;
}

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 8rem;
    }
    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 1rem;
    }
}

body {
    height: 100vh;
    width: 100%;
    background-color: #fff7eb;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    ::-webkit-scrollbar {
        display: none;
    }
}

p,
p a {
    font-size: x-large;
}

#navbar {
    height: 6%;
    width: 100%;
    padding: .5rem;
    background-color: #e6a733;
}

ul {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

a {
    text-decoration: none;
}

input {
    border-radius: 0;
    outline: none;
    border: none;
    padding-bottom: 1px;
    border-bottom: 1px solid var(--primary-color);
    background-color: transparent;
}

.home-title {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-title-animation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    color: transparent;
    -webkit-text-stroke: 3px var(--primary-color);
    transform: translateY(-4rem);
    opacity: 0;
    animation: drop 1s forwards;

    margin-bottom: 2rem;
}

.home-title-animation span {
    font-size: 10rem;
    font-family: 'Times New Roman', Times, serif;
    color: transparent;
    transform: translateY(-4rem);
    opacity: 0;
    animation: drop 1s forwards;
}

@media screen and (max-width: 1024px) {
    .home-title-animation, .home-title-animation span {
        font-size: 18vw;
    }
}

@keyframes drop {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-10rem);
    transition: visibility 0.6s ease-out, opacity 0.6s ease-out, transform 0.6s ease-out;
}

.visible {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    transition: visibility 0.6s ease-out, opacity 0.6s ease-out, transform 0.6s ease-out;
}

.home-title-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

@media screen and (max-width: 1024px) {
    .home-title-buttons {
        flex-direction: column;
    }
}

.home-title-btn {
    height: auto;
    width: fit-content;
    border: 1px solid var(--primary-color);
    padding: .5rem 1.5rem;
    border-radius: 10px;
    background-color: transparent;
    font-size: x-large;
    color: var(--primary-color);
    cursor: pointer;
}

.home-title-btn:hover,
.home-title-btn:focus {
    box-shadow: inset 15rem 0 0 0 #301d55;
    color: #fff;
    border: 1px solid #301d55;
    transition: box-shadow 0.3s linear, color 0.3s linear, border 0.3s linear;
}

.submit-btn {
    height: auto;
    width: fit-content;
    border: 1px solid var(--primary-color);
    padding: .3rem .5rem;
    border-radius: 10px;
    background-color: transparent;
    font-size: large;
    color: var(--primary-color);
    cursor: pointer;
}

.submit-btn:hover,
.submit-btn:focus {
    box-shadow: inset 15rem 0 0 0 #301d55;
    color: #fff;
    border: 1px solid #301d55;
    transition: box-shadow 0.3s linear, color 0.3s linear, border 0.3s linear;
}

.arrow {
    position: fixed;
    z-index: 1000;
    width: 88px;
    height: 88px;
    bottom: calc(10% - 44px);
    right: calc(6% - 44px);
    padding: 22px 24px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 1;
    transition: visibility 0.6s ease-out, opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.arrow-hidden {
    opacity: 0;
    cursor: default;
    visibility: hidden;
}

.arrow-turned {
    transform: rotate(180deg);
}

@media screen and (max-width: 1024px) {
    .arrow {
        bottom: 0;
        right: 0;
        left: auto;
    }
}

#project-description {
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: unset;
    text-align: center;
    width: 100%;
    text-wrap: balance;
    gap: .5rem;
}


.horizontal-section {
    height: 100vh;
    display: flex;
    padding: 3rem 8rem;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: left;
}

.vertical-section {
    height: 100vh;
    display: flex;
    padding: 3rem 8rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.vertical-section p {
    margin-top: 1rem;
    text-wrap: balance;
    text-wrap: pretty; /* Not supported in all browsers */
}

@media screen and (max-width: 1024px) {
    img {
        display: none;
    }

    .vertical-section,
    .horizontal-section {
        padding: 3rem 2rem;
    }
}

* .text-animation {
    transform: translateY(-4rem);
    animation: drop 2s forwards;
}

.person-table {
    border-collapse: separate;
    border-spacing: 2em 1em;
}

.social-table {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
}

@media screen and (max-width: 1024px) {
    .social-table {
        flex-direction: column;
    }
}

.social-table a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
